__pycache__
!app/templates/*/
.DS_Store
.gradle
.ipynb_checkpoints
.project
.python-version
.settings
*.pyc
app/static/
app/templates/*
build/
data/*/
error.log
node_modules
package-lock.json
pip-build-*
target