app/templates/*
!app/templates/*/

__pycache__
.DS_Store
.gradle
.ipynb_checkpoints
.project
.python-version
.settings
*.pyc
app/static/
build/
data/*/
error.log
node_modules
package-lock.json
pip-build-*
target