<div class="ipynb-field">
    <div class="form-group">
        <label for="{{ name }}">
            {{ label }}
        </label>
        <div class="input-group spinner" min={{ min }} max={{ max }}>
            <input type="text" name="{{ name }}" class="form-control" value="{{ default }}">
            <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-up"></i>
                </button>
                <button class="btn btn-default" type="button">
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>