<div class="ipynb-field">
    <div class="form-group">
        <p>{{ description }}</p>
        <label for="{{ name }}">
            {{ label }}
        </label>
        <input type="text" name="{{ name }}" class="form-control" placeholder="{{ hint }}" value="{{ default }}">
    </div>
</div>