<div class="ipynb-field">
    <p>{{ this.args.description }}</p>
    <label for="{{ this.args.name }}">
        {{ this.args.label }}
    </label>
    <div>
        <ul class="nav nav-tabs nav-justified" role="tablist" target="#{{ this.args.name }}">
        {% for choice_name, choice in this.args.choices.items() %}
            <li
                role="presentation"
                class="{% if this.args.default == choice_name %} active{% endif %}"
            >
                <a
                    href="#tab-content-{{ this.args.name }}-{{ choice_name }}"
                    aria-controls="tab-content-{{ this.args.name }}-{{ choice_name }}"
                    target="{{ choice_name }}"
                    role="tab"
                    data-toggle="tab"
                >
                    {{ choice_name }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <div class="tab-content">
        {% for choice_name, choice in this.args.choices.items() %}
            <div
                role="tabpanel"
                class="tab-pane fade{% if this.args.default == choice_name %} in active{% endif %}"
                id="tab-content-{{ this.args.name }}-{{ choice_name }}"
            >
                {{ choice.render() }}
            </div>
        {% endfor %}
        </div>
    </div>
    <input type="text" class="hidden" id="{{ this.args.name }}" name="{{ this.args.name }}" value="{{ this.args.default }}" />
</div>