<div class="ipynb-field">
    <p>{{ description }}</p>
    <label for="_{{ name }}_type">
        {{ label }}
    </label>
    <select name="_{{ name }}_type">
        {% for choice in choices.keys() %}
            <option>{{ choice }}</option>
        {% endfor %}
    </select>
    {% for choice_name, choice in choices.items() %}
        <div class="meta-choice" id="_{{ choice_name }}">
            {{ choice.render() }}
        </div>
    {% endfor %}
</div>