<div class="ipynb-field">
    <div class="form-group">
        <p>{{ description }}</p>
        <label for="{{ name }}">
            {{ label }}
        </label>
        <textarea name="{{ name }}" class="form-control">{{ default }}</textarea>
    </div>
</div>