<div class="footer container-full">
    <div class="container">
        <div class="pull-left">
            <ul id="contact" class="list-inline">
                <li>
                    <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">Ma'ayan Lab
                        <span class="hide-on-mobile">oratory of Computational Systems Biology</span>
                    </a>
                </li>
                <li class="left-border">
                    <a href="contact">Contact Us</a>
                </li>
                <li class="left-border">
                    <a href="terms">Terms</a>
                </li>
            </ul>
            <div id="citation">
                <h6>Please acknowledge the Harmonizome in your publications by citing the following reference:</h6>
                <p>
                    <a href="http://database.oxfordjournals.org/content/2016/baw100.short" target="_blank">
                        Rouillard AD, Gundersen GW, Fernandez NF, Wang Z, Monteiro CD, McDermott MG, Ma'ayan A.
                        <em>The harmonizome: a collection of processed datasets gathered to serve and mine knowledge about genes
                            and proteins</em>. Database (Oxford). 2016 Jul 3;2016. pii: baw100.
                    </a>
                </p>
            </div>
            <div>
                <h6>Funding</h6>
                <ul id="funders">
                    <li>
                        <a href="http://lincs-dcic.org/" target="_blank">BD2K-LINCS Data Coordination and Integration Center</a>
                    </li>
                    <li>
                        <a href="https://commonfund.nih.gov/idg/overview" target="_blank">Illuminating the Druggable Genome
                            <span class="hide-on-mobile">, Knowledge Management Center</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="share" class="pull-right hide-on-mobile">
            <a href="https://www.linkedin.com/shareArticle?url=http://www.maayanlab.net/harmonizome" target="_blank">
                <img src="{{ HARMONIZOME_PREFIX }}/image/share/linkedin.png">
            </a>
            <a href="https://plus.google.com/share?url=http://www.maayanlab.net/harmoziome" target="_blank">
                <img src="{{ HARMONIZOME_PREFIX }}/image/share/google-plus.png">
            </a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.maayanlab.net/harmonizome/" target="_blank">
                <img src="{{ HARMONIZOME_PREFIX }}/image/share/facebook.png">
            </a>
            <a href="http://twitter.com/share" target="_blank">
                <img src="{{ HARMONIZOME_PREFIX }}/image/share/twitter.png">
            </a>
        </div>
    </div>
</div>