<div id="navbar-wrapper" class="navbar-static-top">
    <div class="container">
        <h1 class="pull-left">
            <a href="">
                <img src="image/logo_30x26.png">
                <span class="project-title">Harmonizome</span>
                <span class="credits">Integrated Knowledge About Genes & Proteins</span>
            </a>
        </h1>

        <!-- This is the dropdown button for the mobile version of the site -->
        <div id="menu-dropdown" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {% include "fragment/menu.j2" %}
    </div>
</div>