{% extends "layout/primary.j2" %}
{% block primary_body %}
<div class="custom-predictions-page">
	<h1>
		Harmonizome ML <span class="note"><c:out
				value="${note}" /></span>
	</h1>
	<p>
		This form allows you to build and evaluate machine
		learning pipelines with Harmonizome data. For more information about
		the selections, follow the help tool-tips.
	</p>
	{% block body %}
	{% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="scripts/custom-predictions-page.js"></script>
<script>
	app.setupForm('.custom-predictions-form')
</script>
{% endblock %}
